@mixin button{
    border: none; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fa8bff;
background-image: linear-gradient
(0deg, 
#08AEEA 0%,
#2AF598 100%
);
&:hover{
 transform: scale(0.9);
 transition: 500ms;
}
}